@font-face {
    font-family: "roboto";
    src: url("../img/RobotoMono-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "incon";
    src: url("../img/Inconsolata-ExtraBold.ttf");
}

html,
body {
    background-color: #F2C84B;
}

h1 {
    font-family: incon;
}

p,
h3,
h2 {
    font-family: roboto;
}

nav,
footer {
    display: flex;
    background-color: #2F3640;

    *,
    a {
        color: #F2E205;
    }
}


#logo {

    margin-top: 15em;
    margin-bottom: 10em;
    background-color: #0D0D0D;
    border-color: #F2E205;
    color: #F2E205;

    figcaption {
        width: 100%;
        text-align: center;
    }
}

#affiche {

    
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #2F3640;
a{
    width: 33%;
    figure {
        width: 90%;
        height: 100%;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #2F3640;
        color: #F2E205;

        img {
            width: 100%;
        }
    }
}
 
}

footer {
    line-height: 0;
}

#galerieTopLine {


    padding-top: 100px;
    background-color: #F2C84B;



}

.card {
    box-shadow: 10px 0px 5px black;
}

#affiche {
    background-color: #F2C84B;
}


a {
    text-decoration: none;
    color: black;
}


#startForm{
    background-color: #F2C84B;
   width: 100%;

   #firstPart{

    flex-wrap: nowrap;
        #text{
            width: 50%;
            
        }
    
    #nomP{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        div:nth-child(2){
       
            margin-top: 30px;
        }
        
    }
    div{
       
        margin-top: 10px;
    }
}
#secondePart{
    margin-left: 23%;
}
button{
    margin-left: 43%;
}
}


#last {
    margin-bottom: 50px;
}

#grande{
    background-color: #F2C84B;
    margin-bottom: 80px;
}



#tilimg{
    margin-top: 100px;
    background-color: #F2C84B;
    width: 110%;
    margin-left:-15px;
    #til{
        margin: 20px;
        flex-wrap: wrap;
       
        width: 80%;
        .titre, .infoListe{

            border: 10px;
            margin: 20px;
            background-color: #7587BF;
        }
        .titre{
            width: 100%;
            text-align: center;
        }

        #il{
            width: 100%;
            flex-wrap: wrap;
            .infoListe{
                width: 45%;
            }
        }
        


    }

    
    #img{
        width: 20%;
        margin: 10px;
    }
}
.zoneTexte{

    border: 10px;
    margin: 20px;
    background-color: #7587BF;
}
#imgSS{
    background-color: #F2C84B;
    #imgS{
   
       
        padding-top: 80px;
        background-color: #F2C84B;
    }
}



@media screen and (max-width: 993px)and (min-width: 576px) {
  
    li {
        display: none;
    }

    #tabMenu {
        display: flex;
        justify-content: end;
        margin-top: 80px;

        background-color: #F2C84B;

        p {
            margin: 20px;
        }
    }

    #logo {
        margin-top: 0;
    }

   #affiche a {
        width: 50%;
    }

    
#tilimg{
    margin-top: 100px;
    background-color: #F2C84B;
    width: 100%;
    margin-left:-5px;
    #il{
        width: 100%;
        .infoListe{
            width: 100%;
        }
    }
}
#imgS{
    display: none;
  
}
}


@media screen and (min-width: 994px) {
    #imgS{
        display: none;
    }

    #tabMenu {
        display: none;
    }
}

@media screen and (max-width: 575px) {

    #tilimg{
        margin-top: 0px;
    }
    #tabMenu {
        display: none;
    }

    nav {
        h1 {
            font-size: 27px;
        }
    }

    #affiche a {
        width: 75%;
    }
    #startForm{
        background-color: #F2C84B;
       width: 100%;
    
       #firstPart{
    
        flex-wrap: wrap;
            #text{
                width: 100%;
                
            }
        
        #nomP{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            div:nth-child(2){
           
                margin-top: 30px;
            }
            
        }
        div{
           
            margin-top: 10px;
        }
    }
    #secondePart{
        margin-left: 23%;
    }
    button{
        margin-left: 43%;
    }
    }
#img{
    display: none;
}


}